<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="mt-5" method="post" action="/hadir">
        <div class="mb-3">
          <label for="nama" class="form-label">Nama Lengkap</label>
          <input
            type="text"
            class="form-control"
            id="nama"
            name="nama"
            required
          />
        </div>
        <div class="mb-3 mt-2">
          <label for="kehadiran" class="form-label">Kehadiran</label>
          <input
            type="text"
            class="form-control"
            id="kehadiran"
            name="kehadiran"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>
  </div>
</div>
